{% extends "layout.html" %}
{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>
        The route argument should be a string or gettext_lazy() (see Translating URL patterns) that contains a URL pattern. The string may contain angle brackets (like <username> above) to capture part of the URL and send it as a keyword argument to the view. The angle brackets may include a converter specification (like the int part of <int:section>) which limits the characters matched and may also change the type of the variable passed to the view. For example, <int:section> matches a string of decimal digits and converts the value to an int. See How Django processes a request for more details.
</p>

{% endblock body %}
 